/* TODO make this pretty lol */
#title-center {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: rebeccapurple;
}

#page-background {
    background-color: darkgray;
}

#title-small-text {
    font-size: 0.1em;
}

