/* TODO make this pretty lol */
#title-center {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: rebeccapurple;
}

#page-background {
    background-color: darkgray;
}

#title-small-text {
    font-size: 0.1em;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}