<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Home</title>
</head>
<body>
    <div layout:fragment="content">
        <div th:if="${#lists.isEmpty(resources)}">
            <p>You've finished all your resources</p>
            <p>Go look for some new ones!</p>
        </div>
        <table th:unless="${#lists.isEmpty(resources)}">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>URL</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="resource : ${resources}">
                <td th:text="${resource.name}"></td>
                <td th:text="${resource.description}"></td>
                <td th:text="${resource.type}"></td>
                <td><a th:href="${resource.url}" th:text="${resource.url}"></a></td>
                <td th:text="${resource.addedAt}"></td>
                <td>
                    <form action="/manage" method="post">
                        <input type="hidden" name="id" th:value="${resource.id}">
                        <input type="submit" name="finish" value="Mark Finished">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>