<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Home</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="mb-3 justify-content-center text-center" th:if="${#lists.isEmpty(resources)}">
            <p class="lead">You've finished all your resources</p>
            <p class="lead">Go look for some new ones!</p>
        </div>
        <div class="table-responsive">
            <table class="table text-light text-center" th:unless="${#lists.isEmpty(resources)}">
                <thead>
                <tr class="table-dark text-light justify-content-center text-center">
                    <th>Name</th>
                    <th>Author</th>
                    <th>Type</th>
                    <th>URL</th>
                    <th>Status</th>
                    <th>Added</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="resource : ${resources}">
                    <td th:text="${resource.name}"></td>
                    <td th:text="${resource.author}"></td>
                    <td th:text="${#strings.capitalize(#strings.toLowerCase(resource.type))}"></td>
                    <td><a th:href="${resource.url}" th:text="${resource.url}"></a></td>
                    <td th:text="${#strings.capitalize(#strings.toLowerCase(#strings.replace(resource.status, '_', ' ')))}"></td>
                    <td th:text="${resource.addedAt}"></td>
                    <td th:if="${#strings.equalsIgnoreCase(resource.status, 'IN_PROGRESS')}">
                        <form action="/manage" method="post">
                            <input type="hidden" name="id" th:value="${resource.id}">
                            <input type="hidden" name="optionalStatus" value="FINISHED">
                            <input type="submit" name="action" value="Mark Completed">
                        </form>
                    </td>
                    <td th:if="${#strings.equalsIgnoreCase(resource.status, 'NOT_STARTED')}">
                        <form action="/manage" method="post">
                            <input type="hidden" name="id" th:value="${resource.id}">
                            <input type="hidden" name="optionalStatus" value="IN_PROGRESS">
                            <input type="submit" name="action" value="Start">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>