<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Manage</title>
</head>
<body>
    <div  layout:fragment="content">
        <div th:if="${#lists.isEmpty(resources)}">
            <p>You haven't added any resources yet</p>
        </div>
        <table th:unless="${#lists.isEmpty(resources)}">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Added</th>
                    <th>Completion</th>
                    <th colspan="3">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="resource : ${resources}">
                    <td th:text="${resource.name}"></td>
                    <td th:text="${#strings.capitalize(#strings.toLowerCase(resource.type))}"></td>
                    <td th:text="${resource.addedAt}"></td>
                    <td th:text="${#strings.capitalize(#strings.toLowerCase(#strings.replace(resource.status, '_', ' ')))}"></td>
                    <td>
                        <form method="post" action="/manage">
                            <input type="hidden" name="id" th:value="${resource.id}">
                            <input type="submit" name="action" value="Edit" >
                        </form>
                    </td>
                    <td>
                        <form method="post" action="/manage">
                            <input type="hidden" name="id" th:value="${resource.id}">
                            <input type="submit" name="action" value="Delete" >
                        </form>
                    </td>
                    <td>
                        <form method="post" action="/manage">
                            <input type="hidden" name="id" th:value="${resource.id}">
                            <br>
                            <input type="radio" name="status" value="FINISHED" id="finished"> <label for="finished">Finished</label>
                            <input type="radio" name="status" value="IN_PROGRESS" id="in_progress"> <label for="in_progress">In Progress</label>
                            <input type="radio" name="status" value="NOT_STARTED" id="not_started"> <label for="not_started">Not Started</label>
                            <input type="submit" name="action" value="Update Status">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>